html, body {
  font: 28px Helvetica, Arial, sans-serif;
  background: #ffffff;
}

article {
  width: 680px;
  padding: 10px 15px 15px 15px;
  border: 2px solid #000000;
  box-sizing: border-box;
}

header {
  margin-bottom: 10px;
  border-bottom: 15px solid #000000;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

h2 {
  padding: 10px 0;
  margin: 5px 0 0 0;
  font-size: 1rem;
  border-top: 30px solid #000000;
  border-bottom: 1px solid #000000;
}

dl {
  padding: 0;
  margin: 0;
}
dt {
  display: inline;
  font-weight: 600;
}
dd {
  display: inline;
  margin: 0;
}

sup {
  vertical-align: 3px;
}

header p {
  margin: 0;
}

header dl {
  display: inline-block;
  width: 50%;
  padding: 5px 0;
}
header dl + dl { text-align: right; }
header dl + dl dt {
  font-weight: 500;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

thead th {
  text-align: right;
}

tbody th {
  padding: 2px 0;
  font-weight: normal;
  text-align: left;
  border-top: 1px solid black;
}

tbody td {
  padding: 2px 0;
  border-top: 1px solid black;
}

tr td:last-of-type {
  font-weight: bold;
  text-align: right;
}


tr td dt {
  font-weight: normal;
}

.indented {
  width: 1rem;
  border-top: none;
}

table tbody:nth-of-type(2n) td {
  font-weight: normal;
}

table tbody:nth-of-type(2n) tr:first-of-type {
  border-top: 20px solid black;
}

tfoot td:last-of-type {
  border-top: 1px solid black;
  font-weight: normal;
  text-align: left;
}

table:nth-of-type(2n) thead th {
  font-weight: normal;
  border-bottom: 1px solid black;
}

table:nth-of-type(2n) tbody tr td:nth-of-type(1n) {
  text-align: left;
  border: 0;
}

table:nth-of-type(2n) tbody tr td:nth-of-type(2n) {
  text-align: right;
}

table:nth-of-type(2n) tbody tr td:nth-of-type(3n) {
  text-align: right;
}

table:nth-of-type(2n) tbody tr td:nth-of-type(4n) {
  text-align: right;
  font-weight: normal;
}

table:nth-of-type(2n) td.indented {
  width: auto;
  text-indent: 1.2rem;
}
