body {
  font: normal 16px Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  }

.parent_container {
  border: 2px solid grey;
  width: 1000px;
  padding-left: 20px;
}

h1, h2, h3 {
  color: #ce4a4a;
  margin: 20px 0;
}

p {
  line-height: 35px;
  margin-bottom: 25px;
}

.dash_border {
  border: 2px dashed grey;
  padding: 30px;
  margin: 40px;
  width: 650px;
}

.inline_margin a {
  margin: 30px;
}

.inline_padding a {
  background-color: green;
  padding: 30px;
}

.clear_field::before,
.clear_field::after {
  content: "";
  display: block;
}

.clear_field::after {
  clear: both;
}

.float a {
  float: left;
  background-color: green;
  text-align: center;
  margin: 15px;
  padding: 25px;
  width: 120px;
  text-align: center;
}

.block .wrapper {
    margin-bottom: 35px;
}

.block .box-1 {
  background-color: blueviolet;
  color: white;
}

.block .box-2 {
  background-color: gold;
  color: blue;
  height: 60px;
  padding: 20px 20px;
  margin: 20px 20px;
}

.block .box-3 {
  background-color: red;
  color: blueviolet;
  width: 90px;
}

.block .box-4 {
  background-color: lime;
  color: plum;
  width: 180px;
  height: 120px;
  padding: 20px 20px;
  margin: 20px 20px;
}

.block .float_bx_1 {
  background-color: blue;
  color: white;
  border: 5px solid peachpuff;
  float: left;
}

.block .float_bx_2 {
  background-color: red;
  color: white;
  border: 5px solid peachpuff;
  float: right;
}

.block .float_bx_3 {
  background-color: blue;
  color: white;
  border: 5px solid peachpuff;
  float: left;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 40%;
}

.block .float_bx_4 {
  background-color: red;
  color: white;
  border: 5px solid peachpuff;
  float: right;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 50%;
}

